body,html{
  background: darkkhaki;
  font-size: 20px;
  text-align: center;
}
.image{
  width: 200px;
  height: 200px;
  background-size: 100% auto;
  background-repeat:no-repeat;
  border-radius: 10px;
  background-image: url('../image/dog.png');
}
.content img{
  width: 200px;
  height: 200px;
  background-size: 100% auto;
  background-repeat:no-repeat;
  border-radius: 10px;
}
.iconfont{
  font-size:30px
}

.wrapper{
  width: 100px;
  height:100px;
  background-color: darkseagreen;
  backface-visibility: hidden;
}